[Unit]
Description=PiStation Media Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/pi-media-station
EnvironmentFile=/home/pi/pi-media-station/.env
ExecStart=/usr/bin/python3 services/media-server.py
Restart=always

[Install]
WantedBy=multi-user.target
